<h1>New</h1>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name, label: 'Your restaurant name please', error: 'restaurant is mandatory, please specify one' %>
  <%= f.input :address, label: 'Address.' %>
  <%= f.input :category, label: 'Category' %>
  <%= f.button :submit %>
<% end %>
